.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#20AD96;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Kumbh Sans", sans-serif;
    line-height: 22px;
    width: 200px;
    height: 60px;
    text-transform: uppercase;
    text-align: center;

    @media screen and (max-width: $bp-tablet-s) {
        width: 150px;
        height: 50px;
        font-size: 15px;
    }

    @media screen and (max-width: $bp-tablet-sm) {
        width: 100px;
        height: 40px;
        font-size: 12px;
    }

    @media screen and (max-width: $bp-mobile) {
        width: 80px;
        height: 30px;
        font-size: 10px;
    }
    
}


.btn--green{
 background-color:#20AD96;
 color:white;

 @media screen and (max-width: $bp-tablet-s) {
    width: 150px;
    height: 50px;
    font-size: 15px;
}

@media screen and (max-width: $bp-tablet-sm) {
    width: 100px;
    height: 40px;
    font-size: 12px;
}

@media screen and (max-width: $bp-mobile) {
    width: 80px;
    height: 30px;
    font-size: 10px;
}

}

